@model ScrumAdmin.Models.RELEASE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RELEASE</legend>

    <div class="display-label">IDPROYECTO</div>
    <div class="display-field">@Model.IDPROYECTO</div>

    <div class="display-label">NOMBRE</div>
    <div class="display-field">@Model.NOMBRE</div>

    <div class="display-label">FECHA_ENTREGA</div>
    <div class="display-field">@String.Format("{0:g}", Model.FECHA_ENTREGA)</div>

    <div class="display-label">PROYECTO</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.PROYECTO).ToString()</div>

    <div class="display-label">SPRINT</div>
    <div class="display-field">@(Model.SPRINT == null ? "None" : Model.SPRINT.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


