@model ScrumAdmin.Models.STAKEHOLDER

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.IDPODER)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IDPODER)
    @Html.ValidationMessageFor(model => model.IDPODER)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IDINTERES)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IDINTERES)
    @Html.ValidationMessageFor(model => model.IDINTERES)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IDPROYECTO)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IDPROYECTO)
    @Html.ValidationMessageFor(model => model.IDPROYECTO)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NOMBRE)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NOMBRE)
    @Html.ValidationMessageFor(model => model.NOMBRE)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AP1)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AP1)
    @Html.ValidationMessageFor(model => model.AP1)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.AP2)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.AP2)
    @Html.ValidationMessageFor(model => model.AP2)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CELULAR)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CELULAR)
    @Html.ValidationMessageFor(model => model.CELULAR)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EMPRESA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EMPRESA)
    @Html.ValidationMessageFor(model => model.EMPRESA)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EMAIL)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EMAIL)
    @Html.ValidationMessageFor(model => model.EMAIL)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DIRECCION)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DIRECCION)
    @Html.ValidationMessageFor(model => model.DIRECCION)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EXPECTATIVA)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EXPECTATIVA)
    @Html.ValidationMessageFor(model => model.EXPECTATIVA)
</div>

