@model ScrumAdmin.Models.USUARIO

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>USUARIO</legend>

    <div class="display-label">Nombre: @Model.AP1 @Model.AP2</div>

    <div class="display-label">Correo electronico: @Model.EMAIL</div>

    <div class="display-label">Celular: @Model.CELULAR</div>

    <div class="display-label">Nick: @Model.NICK</div>

</fieldset>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>


