@model IEnumerable<ScrumAdmin.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h1>Usuarios</h1>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            E-mail
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
        <td>
			@item.AP1
        </td>
        <td>
			@item.AP2
        </td>
        <td>
			@item.EMAIL
        </td>        
    </tr>
}

</table>


