@model IEnumerable<ScrumAdmin.Models.PROYECTO>

@{
    ViewBag.Title = "Proyectos";
}

<h1>Proyectos</h1>

<p>
    @Html.ActionLink("Nuevo proyecto", "Create")
</p>

<table>
    <tr>
        <th></th>
        <th>
            Nombre
        </th>
        <th>
            #Releases
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Equipo", "IndexEquipo", new { id=item.ID }) |
            @Html.ActionLink("Historias", "IndexStory", new { id=item.ID })
            @*@Html.ActionLink("Details", "Details", new { id=item.ID })*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
        <td>
			@item.DESCRIPCION
        </td>
        <td>
			@item.NUM_RELEASES
        </td>        
    </tr>
}

</table>