@model ScrumAdmin.Models.USER_STORY

@{
    ViewBag.Title = "Detailes";
}

<h2>Detalles</h2>

<fieldset>
    <legend>USER_STORY</legend>

    <div class="display-label">Nombre: @Model.NOMBRE</div>

    <div class="display-label">Puntos de estimación: @Model.PUNTOS_ESTIMACION.NOMBRE</div>

    <div class="display-label">Prioridad: @Model.PRIORIDAD.NOMBRE</div>
    
    <div class="display-label">Estado: @Model.ESTADO.NOMBRE</div>

    <div class="display-label">Tipo: @Model.TIPO.NOMBRE</div>    

    <div class="display-label">Duracion Planeada: @Model.DURACION_PLANEADA</div>

    <div class="display-label">Tiempo Gastado: @Model.TIEMPO_GASTADO</div>

    <div class="display-label">Tiempo Restante: @Model.TIEMPO_RESTANTE</div>

    <div class="display-label">Propietario: @Model.EQUIPO.USUARIO.AP1 @Model.EQUIPO.USUARIO.AP2</div>

</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


