@model IEnumerable<ScrumAdmin.Models.USER_STORY>

@{
    ViewBag.Title = "Historias de Usuario";
}

<h1>Historias de Usuario</h1>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nombre
        </th>
        <th>
            Responsable
        </th>
        <th>
            Puntos
        </th>
        <th>
            Estado
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Tareas", "Index_Tareas", new { id=item.ID })
        </td>
        <td>
			@item.NOMBRE
        </td>
        <td>
			@item.EQUIPO.USUARIO.AP1
        </td>
        <td>
			@item.PUNTOS_ESTIMACION.PUNTO
        </td>
        <td>
			@item.ESTADO.NOMBRE
        </td>       
    </tr>
}

</table>


